[Unit]
Description=weatherstation-wind_speed
After=network.target

[Service]
ExecStart=/usr/bin/python3 -u /home/pi/weather-station/wind_speed.py
User=pi
Group=pi

[Install]
WantedBy=multi-user.target
